

body {
	background-color: #ffb3ff;
	color: white;
	font-family: Optima, Times New Roman;
	font-size: 65px;
	text-align: center;
	height: auto;
	width: auto;
	
}



/*P div classes*/

.p1 { 
	 font-size: 57px;
	 color: #ff99ff;
}



/*div containers*/

.bodybox{
		padding: 2.3%;
		background-color: white;
		margin-right: auto;
		margin-left: auto;
		height: auto;
		width: 80%;
		overflow: auto;
		margin-top: auto;
		margin-bottom: auto;
		color: black;
	}

.indextextbox {
			   float: left;
			   color: white;
			   background-color: #ff99ff;
			   border-radius: 16px;
			   font-size: 20px;
			   font-family: Arial Narrow, Times New Roman;
			   margin: 1%;
			   padding: 1%;
}

.indextextbox2 {
			   float: left;
			   color: white;
			   background-color: #ff99ff;
			   border-radius: 16px;
			   font-size: 20px;
			   font-family: Arial Narrow, Times New Roman;
			   margin: 1%;
			   padding: 1%;
}

.imgin {
  width: 500%;
  height: auto;
}

.indextextbox3 {
			   float: left;
			   color: white;
			   background-color: #ff99ff;
			   border-radius: 16px;
			   font-size: 20px;
			   font-family: Arial Narrow, Times New Roman;
			   margin: 1%;
			   padding: 1%;
}


.imgcontainer1 {
				float: right;
				background-color: transparent;
				padding: 0%;
				margin-right: 35%;
				margin-bottom: 35%;
				height: 100px;
				width: 100px;
}

.imgcontainer2 {
				float: left;
}


.imgcontainer3 {
				float: right;
				margin-bottom: 6%;
				margin-right: 6%;
}





/*Nav Bar*/

ul {
  list-style-type: none;
  margin: 2%;
  padding: 0%;
  overflow: hidden;
  background-color: white;
  font-size: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ff99ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ffe6ff;
}




/*CSS for img modal*/

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 25px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}



/*CSS for 2nd img modal*/

#myImg2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg2:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 25px;
}

/* Add Animation */
.modal-content, #caption2 {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}




/*Media Queries, color is unresponsive*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}


/*other stuff*/

.hr1{
	 width: auto;
	 height: 8px;
	 background-color: #ffb3ff;
}