

body {
	background-color: #ffb3ff;
	color: white;
	font-family: Optima, Times New Roman;
	font-size: 65px;
	text-align: center;
	height: auto;
	width: auto;
	
}


/*P div classes*/

.p1 { 
	 font-size: 57px;
	 color: #ff99ff;
}


/*div containers*/

.bodybox{
		padding: 2.3%;
		background-color: white;
		margin-right: auto;
		margin-left: auto;
		height: auto;
		width: 80%;
		overflow: auto;
		margin-top: auto;
		margin-bottom: auto;
		color: black;
	}

.indextextbox {
			   float: left;
			   color: white;
			   background-color: #ff99ff;
			   border-radius: 16px;
			   font-size: 20px;
			   font-family: Arial Narrow, Times New Roman;
			   margin: 1%;
			   padding: 1%;
}

.indextextbox2 {
			   float: left;
			   color: white;
			   background-color: #ff99ff;
			   border-radius: 16px;
			   font-size: 20px;
			   font-family: Arial Narrow, Times New Roman;
			   margin: 1%;
			   padding: 1%;
}

.indextextbox3 {
			   float: left;
			   color: white;
			   background-color: #ff99ff;
			   border-radius: 16px;
			   font-size: 20px;
			   font-family: Arial Narrow, Times New Roman;
			   margin: 1%;
			   padding: 1%;
}

.indextextbox4 {
			   float: left;
			   color: white;
			   background-color: #ff99ff;
			   border-radius: 16px;
			   font-size: 20px;
			   font-family: Arial Narrow, Times New Roman;
			   margin: 1%;
			   padding: 1%;
}

.imgcontainer1 {
				float: right;
				background-color: transparent;
				padding: 0%;
				margin-right: 35%;
				margin-bottom: 35%;
				height: 100px;
				width: 100px;
}

	
/*Nav Bar*/

ul {
  list-style-type: none;
  margin: 2%;
  padding: 0%;
  overflow: hidden;
  background-color: white;
  font-size: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ff99ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ffe6ff;
}

/*CSS for image overlap
 .card {
        width: auto;
        height: auto;
        background: url("indexheart.png") no-repeat;
        padding: 0%;
}
   
   .card:hover {
        background: url("augheart.png") no-repeat
}


*/

/*Media Queries, color is unresponsive*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}