

body {
	background-color: #eca5ff;
	color: white;
	font-family: Optima, Times New Roman;
	font-size: 65px;
	text-align: center;
	
}

/*P div classes*/

.p1 { 
	 font-size: 57px;
	 color: #e995ff;
}


/*div containers*/

.bodybox{

		padding: 2.3%;
		background-color: white;
		margin-right: auto;
		margin-left: auto;
		height: auto;
		width: 80%;
		overflow: auto;
		margin-top: auto;
		margin-bottom: auto;
		color: #e995ff;
	}

.indextextbox {
			   float: left;
			   color: white;
			   background-color: gray;
			   border-radius: 16px;
			   font-size: 20px;
			   font-family: Arial Narrow, Times New Roman;
			   margin: 1%;
			   padding: 1%;
}

.imgbox1 {
			float: right;
			margin: auto;
}

.imgbox2 {
			float: left;
			margin: auto;
}


.textbox1 { 
			float: center;
			color: #b834ff; 
			font-family: Arial Narrow, Times New Roman;
			border-radius: 16px;
			font-size: 20px;
			margin: 4%;
			padding: 1%;
}

.textbox2 { 
			float: center;
			color: #b834ff; 
			font-family: Arial Narrow, Times New Roman;
			border-radius: 16px;
			font-size: 20px;
			margin: 3%;
			padding: 1%;
}

.textbox3 { 
			float: center;
			color: #b834ff;  
			font-family: Arial Narrow, Times New Roman;
			border-radius: 16px;
			font-size: 20px;
			margin: 3%;
			padding: 1%;
}

.textbox4 { 
			float: center;
			color: #b834ff; 
			font-family: Arial Narrow, Times New Roman;
			border-radius: 16px;
			font-size: 20px;
			margin: 3%;
			padding: 1%;
}
	
.textbox5 {
			float: right;
			color: white;
			background-color: #d975e0; 
			font-family: Arial Narrow, Times New Roman;
			border-radius: 16px;
			font-size: 20px;
			margin: 3%;
			padding: 1%;
}


.textbox6 {
			float: right;
			color: white;
			background-color: #d975e0; 
			font-family: Arial Narrow, Times New Roman;
			border-radius: 16px;
			font-size: 20px;
			margin: 3%;
			padding: 1%;
}
	
.contactbox {
			 float: left;
			 font-size: 20px;
			 color: black;
}
	
	
/*Nav Bar*/

ul {
  list-style-type: none;
  margin: 2%;
  padding: 0%;
  overflow: hidden;
  background-color: white;
  font-size: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  color: #e47fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #f7d8ff;
}

/*Other stuff*/

.hr1{
	 width: auto;
	 height: 8px;
	 background-color: #eca5ff;
}